<template>
	<div class="uk-container uk-container-xsmall">
        <div class="uk-margin">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-body">
                        	<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
						        <thead>
						            <tr>
						                <th class="uk-table-shrink">Jugador 1</th>
						                <th class="uk-table-shrink">Jugador 2</th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr>
						            	<td class="uk-text-truncate">{{ nombre_creador }}</td>
						                <td class="uk-text-truncate">
						                	<input class="uk-input uk-width-1-2" type="text" v-model="nombre_invitado">
						                	<a href="#modal-nombre" class="uk-button uk-button-primary uk-width-1-3" v-on:click="actualizar_nombre()" uk-toggle><span uk-icon="refresh"></span></a>
						                </td>
						            </tr>
						        </tbody>
						    </table>
						    <div class="game-board">
							  	<button class="box" v-for="(value, key) in movimientos" @click="update_movimientos(key)" :disabled="value != ''">
							  		{{value}}
							  	</button>
							</div>
							<br><br>
							<button class="uk-button uk-button-secondary uk-width-1-1" v-if="repetir">REPETIR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		props: ['info_partida'],
		data(){
			return {
				partida: '',
				id: '',
				codigo: '',
				nombre_creador: '',
				nombre_invitado: '',
				movimientos: '',
				contador: 0,
				repetir: false
			}
		},
		mounted(){
			this.partida = JSON.parse(this.info_partida);
			this.id = this.partida.id;
			this.codigo = this.partida.codigo_partida;
			this.nombre_creador = this.partida.nombre_creador;
			this.nombre_invitado = this.partida.nombre_invitado;
			this.movimientos = JSON.parse(this.partida.movimientos);
			this.escuchando();
			$(".game-board").addClass("disabledbutton");
		},
		methods: {
			escuchando(){
				const self = this;
				var interval = setInterval(()=>{
					axios.get(`get_current/${self.id}`)
					.then((response)=>{
						self.nombre_creador = response.data.nombre_creador;
						self.movimientos = JSON.parse(response.data.movimientos);
						self.nadie_gana();
						self.gana_creador();
						self.gana_invitado();
						if (response.data.turno_actual=='invitado' || response.data.estado_partida=='finalizada') {
							$(".game-board").removeClass("disabledbutton");
							clearInterval(interval);
						}
					});
				}, 2000);
			},
			actualizar_nombre(){
				let data = {
					id: this.id,
					nombre: this.nombre_invitado,
					jugador: 'invitado'
				};
				axios.post('/update_name',data).then()
			},
			update_movimientos(key){
				this.movimientos[`${key}`] = 'o';
				$(".game-board").addClass("disabledbutton");
				let update = {
					id: this.id,
					mov: JSON.stringify(this.movimientos),
					turno: 'creador'
				};
				axios.post('/update_movements',update).then();
				this.nadie_gana();
				this.gana_creador();
				this.gana_invitado();
				this.escuchando();
				
			},
			gana_creador(){
				if (
					(this.movimientos.p1 == 'x' && this.movimientos.p2 == 'x' && this.movimientos.p3 == 'x') ||
					(this.movimientos.p4 == 'x' && this.movimientos.p5 == 'x' && this.movimientos.p6 == 'x') ||
					(this.movimientos.p7 == 'x' && this.movimientos.p8 == 'x' && this.movimientos.p9 == 'x') ||
					(this.movimientos.p1 == 'x' && this.movimientos.p4 == 'x' && this.movimientos.p7 == 'x') ||
					(this.movimientos.p2 == 'x' && this.movimientos.p5 == 'x' && this.movimientos.p8 == 'x') ||
					(this.movimientos.p3 == 'x' && this.movimientos.p6 == 'x' && this.movimientos.p9 == 'x') ||
					(this.movimientos.p1 == 'x' && this.movimientos.p5 == 'x' && this.movimientos.p9 == 'x') ||
					(this.movimientos.p3 == 'x' && this.movimientos.p5 == 'x' && this.movimientos.p7 == 'x')
				){
					this.ganar_juego('creador');
				}
			},
			gana_invitado(){
				if (
					(this.movimientos.p1 == 'o' && this.movimientos.p2 == 'o' && this.movimientos.p3 == 'o') ||
					(this.movimientos.p4 == 'o' && this.movimientos.p5 == 'o' && this.movimientos.p6 == 'o') ||
					(this.movimientos.p7 == 'o' && this.movimientos.p8 == 'o' && this.movimientos.p9 == 'o') ||
					(this.movimientos.p1 == 'o' && this.movimientos.p4 == 'o' && this.movimientos.p7 == 'o') ||
					(this.movimientos.p2 == 'o' && this.movimientos.p5 == 'o' && this.movimientos.p8 == 'o') ||
					(this.movimientos.p3 == 'o' && this.movimientos.p6 == 'o' && this.movimientos.p9 == 'o') ||
					(this.movimientos.p1 == 'o' && this.movimientos.p5 == 'o' && this.movimientos.p9 == 'o') ||
					(this.movimientos.p3 == 'o' && this.movimientos.p5 == 'o' && this.movimientos.p7 == 'o')
				){
					this.ganar_juego('invitado');
				}
			},
			nadie_gana(){
				if(
					this.movimientos.p1 != '' && this.movimientos.p2 != '' && this.movimientos.p3 != '' &&
					this.movimientos.p4 != '' && this.movimientos.p5 != '' && this.movimientos.p6 != '' &&
					this.movimientos.p7 != '' && this.movimientos.p8 != '' && this.movimientos.p9 != ''
				){
					this.ganar_juego('nadie');
				}
			},
			ganar_juego(jugador){
				axios.get(`win_duel/${this.id}/${jugador}`).then((response)=>{
					UIkit.modal.confirm(`${response.data.ganador} ha ganado la partida!`).then();
				})
				this.repetir = true;
			}
		}
	};
</script>

<style scoped>
	.uk-container.uk-container-xsmall{
		margin-top: -100px;
		width: 600px;
	}
</style>